#prd body {
    background: #e6e6e6 !important
}

#prd .ratings i {
    font-size: 16px;
    color: red
}

#prd .strike-text {
    color: red;
    text-decoration: line-through
}

#prd .product-image {
    width: 100%
}

#prd .dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

#prd .spec-1 {
    color: #938787;
    font-size: 15px
}

#prd h5 {
    font-weight: 400
}

#prd .para {
    font-size: 16px
}